<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <link href="../static/loady-stylesheet.css" rel="stylesheet" th:href="@{/loady-stylesheet.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="" th:href="@{/bootstrap.min.js}"></script>
    <script src="" th:href="@{/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light nav-color">
    <div class="container">
        <a class="navbar-brand" style="color: white"  href="#">Loady Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:href="@{'/'}" class="nav-item nav-link " style="color: white" href="#">Dashboard</a>
                <a th:href="@{'/Sessions'}" class="nav-item nav-link " style="color: white" href="#">Sessions</a>
                <a th:href="@{'/Reservations'}" class="nav-item nav-link " style="color: white" href="#">Reservations</a>
                <a th:href="@{'/Settings'}" class="nav-item nav-link " style="color: white" href="#">Settings</a>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 30px">
    <h1>Settings of FH OOE</h1>

    <div class="row">
            <div class="card col-auto" style="width: 100%; margin-top: 30px">
                <div class="card-body">
                    <h5 class="card-title">Port Settings:</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Port:</th>
                            <th scope="col">In Use:</th>
                            <th scope="col">Disabled:</th>
                            <th scope="col">Max Power:</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                <div class="form-check">
                                <input class="form-check-input" disabled type="checkbox" value="" >
                            </div>
                            </td>
                            <td>
                                <div class="form-check">
                                <input class="form-check-input"  type="checkbox" value="" >
                            </div></td>
                            <td>
                                <input style="width: 75%" type="number" class="form-control" placeholder="22.0">
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Save</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" disabled type="checkbox" value="" >
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input"  type="checkbox" value="" >
                                </div></td>
                            <td>
                                <input style="width: 75%" type="number" class="form-control" placeholder="22.0">
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Save</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" disabled type="checkbox" value="" >
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input"  type="checkbox" value="" >
                                </div></td>
                            <td>
                                <input style="width: 75%" type="number" class="form-control" placeholder="22.0">
                            </td>
                            <td>
                                <button type="button" class="btn btn-success">Save</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="card col-auto" style="margin-top: 30px; margin-right: 30px">
            <div class="card-body">
                <h5 class="card-title">Pricing:</h5>

                <div class="row">
                    <div class="col-auto" style="margin-right: 20px; padding-top: 10px">
                        <span>Price in Euro/kWh: </span>
                    </div>
                    <div class="col-auto">
                            <input type="number" class="form-control" placeholder="0.29">
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-auto">
                        <span>Price changes will only take effect the next day.</span>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card col-auto" style="margin-top: 30px">
            <div class="card-body">
                <h5 class="card-title">Scanned Cards:</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Time:</th>
                        <th scope="col">Port:</th>
                        <th scope="col">Card:</th>
                        <th scope="col">User:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">06.03.2020 14:30</th>
                        <td>1</td>
                        <td>FE345ZEL</td>
                        <td>Michael Reder</td>
                    </tr>
                    <tr>
                        <th scope="row">06.03.2020 14:30</th>
                        <td>1</td>
                        <td>FE345ZEL</td>
                        <td>Michael Reder</td>
                    </tr>
                    <tr>
                        <th scope="row">06.03.2020 14:30</th>
                        <td>1</td>
                        <td>FE345ZEL</td>
                        <td>Michael Reder</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>